/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

* {
  outline: none;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-xl {
  padding: 10px 24px;
}

.btn-purple {
  border: 1px solid #9585bf;
  background: #9585bf;
  color: #ffffff !important;
  border-radius: 50px;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
  color: #9585bf !important;
  background: transparent;
}

.btn-blue {
  border: 1px solid #305ecc;
  background: #305ecc;
  color: #ffffff !important;
  border-radius: 50px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  color: #305ecc !important;
  background: transparent;
}


.btn-orange {
  border: 1px solid #ff9f3b;
  background: #ff9f3b;
  color: #ffffff !important;
  border-radius: 50px;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
  color: #ff9f3b !important;
  background: transparent;
}

.m-y-2 {
  margin: 20px 0;
}
